@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 6em;
}

h2 {
    margin-bottom: 0;

}

h3 {
    margin: 0;
}
p {
    margin: 0;
}
.logo {
    height: 50px;
    margin-left: 6em;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a {
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2em;
}

.photographer_section article img {
    height: 12em;
    width: 12em;
    object-fit:cover;
    border-radius : 50%;
}

